parameters:
    level: 0
    paths:
        - lib 

    excludePaths:
        - vendor
        - cache(?)
        - user_docs
        - user_images
        - user_temp
        - js_includes
        - Docs
        - .claude
        - .github
